<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Segments, Cards, Image, Buttons and Grid
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="selectTabs">
      <ion-segment-button value="all">
        <ion-label>All</ion-label>
      </ion-segment-button>
      <ion-segment-button value="favorites">
        <ion-label>Favorites</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
  <div *ngIf="selectTabs == 'all'">
    <h1 class="text-header">This is Segment All</h1>
  <ion-grid>
    <ion-row>
      <ion-col size-lg="2" size-md="2" size-sm="2">This is Grid size 2</ion-col>
      <ion-col size-lg="8" size-md="8" size-sm="8"><h1 class="text-header">This is Grid size 8</h1></ion-col>
      <ion-col size-lg="2" size-md="2" size-sm="2">This is Grid size 2</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-lg="2" size-md="2" size-sm="2"></ion-col>
      <ion-col size-lg="8" size-md="8" size-sm="8">
        <ion-card>
          <img src="https://picsum.photos/200/300" class="rand-img"/>
            <ion-card-header>
              <ion-card-subtitle>Random Image</ion-card-subtitle>
              <ion-card-title>Lorem Ipsum</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              <ion-button color="success">Success</ion-button>
              <ion-button color="warning">Warning</ion-button>
              <ion-button color="danger">Danger</ion-button>
            </ion-card-content>
      </ion-card>
      <ion-card>
        <img src="https://picsum.photos/200/300" class="rand-img"/>
          <ion-card-header>
            <ion-card-subtitle>Random Image</ion-card-subtitle>
            <ion-card-title>Lorem Ipsum</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            <ion-button color="success">Success</ion-button>
            <ion-button color="warning">Warning</ion-button>
            <ion-button color="danger">Danger</ion-button>
          </ion-card-content>
    </ion-card>
    </ion-col>
      <ion-col size-lg="2" size-md="2" size-sm="2"></ion-col>
    </ion-row>
  </ion-grid>
  </div>

  <div *ngIf="selectTabs == 'favorites'">
    <h1 class="text-header">This is Segment Favorite</h1>
  <ion-grid>
  
    <ion-row>
      <ion-col size-lg="2" size-md="2" size-sm="2"></ion-col>
      <ion-col size-lg="8" size-md="8" size-sm="8">

      <ion-card>
          <img src="assets/img/erased.jpg" class="rand-img"/>
            <ion-card-header>
              <ion-card-subtitle>Erased Poster</ion-card-subtitle>
              <ion-card-title>Erased</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              When tragedy is about to strike, Satoru Fujinuma finds himself sent back several minutes before the accident occurs. The detached, 29-year-old manga artist has taken advantage of this powerful yet mysterious phenomenon, which he calls "Revival," to save many lives.

              However, when he is wrongfully accused of murdering someone close to him, Satoru is sent back to the past once again, but this time to 1988, 18 years in the past. Soon, he realizes that the murder may be connected to the abduction and killing of one of his classmates, the solitary and mysterious Kayo Hinazuki, that took place when he was a child. This is his chance to make things right.
              
              Boku dake ga Inai Machi follows Satoru in his mission to uncover what truly transpired 18 years ago and prevent the death of his classmate while protecting those he cares about in the present.
              <br/>
              <ion-button color="success">Success</ion-button>
              <ion-button color="warning">Warning</ion-button>
              <ion-button color="danger">Danger</ion-button>
            </ion-card-content>
      </ion-card>

      <ion-card>
        <img src="assets/img/K-on.jpg" class="rand-img"/>
          <ion-card-header>
            <ion-card-subtitle>K-On Poster</ion-card-subtitle>
            <ion-card-title>K-On</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            A fresh high school year always means much to come, and one of those things is joining a club. Being in a dilemma about which club to join, Yui Hirasawa stumbles upon and applies for the Light Music Club, which she misinterprets to be about playing simple instruments, such as castanets. Unable to play an instrument, she decides to visit to apologize and quit.

            Meanwhile, the Light Music Club faces disbandment due to a lack of members. This causes the club members to offer anything, from food to slacking off during club time, in order to convince Yui to join. Despite their efforts, Yui insists on leaving due to her lack of musical experience. As a last resort, they play a piece for Yui, which sparks her fiery passion and finally convinces her to join the club.

            From then onward, it's just plain messing around with bits and pieces of practice. The members of the Light Music Club are ready to make their time together a delightful one!
            <br/>
            <ion-button color="success">Success</ion-button>
            <ion-button color="warning">Warning</ion-button>
            <ion-button color="danger">Danger</ion-button>
          </ion-card-content>
      </ion-card>

      <ion-card>
        <img src="assets/img/steins gate.jpg" class="rand-img"/>
          <ion-card-header>
            <ion-card-subtitle>Steins Gate Poster</ion-card-subtitle>
            <ion-card-title>Steins Gate</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            The self-proclaimed mad scientist Rintarou Okabe rents out a room in a rickety old building in Akihabara, where he indulges himself in his hobby of inventing prospective "future gadgets" with fellow lab members: Mayuri Shiina, his air-headed childhood friend, and Hashida Itaru, a perverted hacker nicknamed "Daru." The three pass the time by tinkering with their most promising contraption yet, a machine dubbed the "Phone Microwave," which performs the strange function of morphing bananas into piles of green gel.

            Though miraculous in itself, the phenomenon doesn't provide anything concrete in Okabe's search for a scientific breakthrough; that is, until the lab members are spurred into action by a string of mysterious happenings before stumbling upon an unexpected success—the Phone Microwave can send emails to the past, altering the flow of history.

            Adapted from the critically acclaimed visual novel by 5pb. and Nitroplus, Steins;Gate takes Okabe through the depths of scientific theory and practicality. Forced across the diverging threads of past and present, Okabe must shoulder the burdens that come with holding the key to the realm of time.
            <br/>
            <ion-button color="success">Success</ion-button>
            <ion-button color="warning">Warning</ion-button>
            <ion-button color="danger">Danger</ion-button>
          </ion-card-content>
      </ion-card>

    </ion-col>
      <ion-col size-lg="2" size-md="2" size-sm="2"></ion-col>
    </ion-row>
  </ion-grid>
  </div>

</ion-content>

