<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Image, Thumbnail and Chip
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-content fullscreen="true" slot="fixed" >
    <div class="ion-padding">
      <div class="card">
        <div class="header">
          <div class="avatar">
            <ion-thumbnail>
              <img src="assets/img/satoru.png" alt="">
            </ion-thumbnail>
           
          </div>
         
          <div class="card-body">
            <div class="user-meta ion-text-center">
              <h3 class="name">Satoru Fujinuma</h3>
              <h5 class="country">Japan</h5>
              <ion-chip color="primary">
                <ion-label>Pizza Guy</ion-label>
              </ion-chip>
              <ion-chip color="success">
                <ion-label>Revival</ion-label>
              </ion-chip>
              <ion-chip color="tertiary">
                <ion-label>Mangaka</ion-label>
              </ion-chip>
              <ion-chip color="danger">
                <ion-label>Enjoy prison life Yashiro</ion-label>
              </ion-chip>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>

  <!-- <app-explore-container name="Tab 3 page"></app-explore-container> -->
</ion-content>
